/* Font Setup Start */
/* ======================================= */
/* I believe that "font-weight: bold; must be
specified on elements that will use the Norse-bold.
It may not be automatically done by writing 
font-family: "Norse";.*/
@font-face {
  font-family: "Norse";
  src:
    url("fonts/Norse.woff2") format("woff2"),
    url("fonts/Norse.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Norse";
  src:
    url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* ======================================= */
/* Font Setup end */

/* CSS Reset start, source: Josh W Comeau https://www.joshwcomeau.com/css/custom-css-reset/*/
/* ======================================= */
/* Set box sizing to always be "border-box" */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* Set form controls to inherit fonts */
input,
button,
textarea,
select {
  font: inherit;
}
/* ======================================= */
/* CSS Reset end */

body {
  height: 100vh;
  width: 100vw;

  font-family: sans-serif;
}

h1 {
  font-family: "Norse", sans-serif;
  font-weight: bold;
  font-size: 60px;
}

#layout-container {
  height: 100%;
  display: flex;
}

/* Sidebar start */
/* ======================================= */

#sidebar {
  width: 200px;
  height: 100vh;
  flex: 1 4 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Sets the background of the sidebar, scaling the
  image to cover the sidebar, while preserving its ratio,
  at the smallest possible size. */
  background-image: url(images/halie-west-unsplash.jpg);
  background-size: cover;
  color: white;
}

#sidebar > #odin-heading {
  margin-top: 30px;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  /* Make the black background 60% transparent. */
  background-color: rgba(0, 0, 0, 0.4);
}

#sidebar > #odin-heading > img {
  width: 65px;
  height: 85px;
}

#sidebar > p {
  margin-bottom: 15px;
  text-align: center;
}

/* ======================================= */
/* Sidebar end */

/* Main section start */
/* ======================================= */
#main-section {
  /* padding: 100px 30px; */
  width: 200px;
  flex: 4 1 auto;
  overflow: auto;

  background-color: rgb(238, 238, 238);
}

#main-section > #main-heading {
  padding: 100px 30px 0px 30px;
}

#main-section > form > #form-field-section {
  margin: 40px 0px;
  padding: 20px 30px;

  background-color: white;
}

#main-section > form > #form-field-section > .form-row {
  display: flex;
  /* flex: auto; */
  justify-content: flex-start;

  gap: 60px;
  margin-top: 12px;
}

#main-section > form > #form-field-section > .form-row .field-label-pair {
  /* This will have the form labels appear above their 
  respective form control. */
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  width: 280px;
  min-width: 0;
}

input:focus {
  /* The "border" that appears when an input is
  focused is actually an outline. 
  
  The outline needs to be set to none so that the
  outline and border do not appear at the same 
  time. */
  border: 2px solid rgb(32, 106, 245);
  outline: none;
}

input {
  border: 2px solid rgb(220, 220, 220);
  border-radius: 4px;
}

#main-section > form > button {
  margin: 0px 30px;
}

#main-section > p {
  margin: 20px 30px;
}
#main-section > p > span#log-in {
  color: #596d48;
}

/* ======================================= */
/* Main section end */
