/* CSS Reset start, source: Josh W Comeau https://www.joshwcomeau.com/css/custom-css-reset/*/
/* ======================================= */
/* Set box sizing to always be "border-box" */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* Set form controls to inherit fonts */
input,
button,
textarea,
select {
  font: inherit;
}

/* ======================================= */
/* CSS Reset end */

body {
  height: 100vh;
  width: 100vw;
}

#layout-container {
  height: 100%;
  display: flex;
}

/* Sidebar start */
/* ======================================= */

#sidebar {
  width: 150px;
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Sets the background of the sidebar, scaling the
  image to cover the sidebar, while preserving its ratio,
  at the smallest possible size. */
  background-image: url(images/halie-west-unsplash.jpg);
  background-size: cover;
  color: white;
}

#sidebar > #odin-heading {
  margin-top: 30px;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  /* Make the black background 60% transparent. */
  background-color: rgba(0, 0, 0, 0.4);
}

#sidebar > #odin-heading > img {
  width: 60px;
  height: 85px;
}

#sidebar > p {
  margin-bottom: 15px;
  text-align: center;
}

/* ======================================= */
/* Sidebar end */

/* Main section start */
/* ======================================= */
#main-section {
  flex: 3 3 auto;
}

/* ======================================= */
/* Main section end */
